<!DOCTYPE html>
<html lang="en">
<head>
<title>Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae"/>
<meta charset="UTF-8">
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img th:src="@{/css/logo.jpg}" alt="logo" />
        </div>
		<div id="name">
			<h1 class="quickFade delayTwo" th:text="${per.nombre}"></h1>
			<h2 class="quickFade delayThree" th:text="${per.ocupacion}" ></h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>correo: <a target="_blank" th:text="${per.correo}" ></a></li>
				<li>sitio web: <a th:text="${per.sitio}"> </a></li>
				<li>contacto:<a th:text="${per.contacto}"> </a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Información Personal</h1>
				</div>
				
				<div class="sectionContent">
					<p th:text="${per.InfoPersonal}"> </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Experiencia</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2 th:text="${per.Tab1}"></h2>
					<p class="subDetails" th:text="${per.AnoTab1}"> </p>
					<p th:text="${per.InfoTab1}" ></p>
				</article>

                <article>
                    <h2 th:text="${per.Tab2}"></h2>
                    <p class="subDetails" th:text="${per.AnoTab2}"> </p>
                    <p th:text="${per.InfoTab2}" ></p>
                </article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Habilidades</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li th:text="${per.Hab1}"></li>
                    <li th:text="${per.Hab2}"></li>
                    <li th:text="${per.Hab3}"></li>
                    <li th:text="${per.Hab4}"></li>
                    <li th:text="${per.Hab5}"></li>
                    <li th:text="${per.Hab6}"></li>
                    <li th:text="${per.Hab7}"></li>
                    <li th:text="${per.Hab8}"></li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Educación</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2 th:text="${per.Uni1}"> <li ></li></h2>
					<p class="subDetails" th:text="${per.Grado1}"></p>
					<p th:text="${per.InfoU1}"></p>
				</article>
                <article>
                    <h2 th:text="${per.Uni2}"> <li ></li></h2>
                    <p class="subDetails" th:text="${per.Grado2}"></p>
                    <p th:text="${per.InfoU3}"></p>
                </article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>